<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="assets/stylesheets/error.css">
    <title>Error</title>
</head>
<body>
  <header class="header">
    <%- include('./partials/header.ejs') %>
  </header>
  <div class="error-message">
    <p><%= reason %></p>
  </div>
  <footer class="footer">
    <%- include('./partials/footer.ejs') %>
  </footer>
</body>
</html>
