<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="assets/stylesheets/header.css" >
    <title>FWWEB</title>
</head>
<body>
    <header class="header">
        <a href="/" class="logo"><img id="logo-title-white" src="/assets/img/logo-white.png" alt="logo"></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
        <% if (permLvl >= 2){ %> 
          <li><a href="/map" class="header-link">Tracking</a></li>
          <li><a href="/stats" class="header-link">Statistics</a></li>
        <% } %> 
          <li><form action="/home/logout?_method=DELETE" method="POST"><button class="header-link">Log Out</button></form></li>
        </ul>
      </header>
</body>
</html>
