<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <title>Home</title>
</head>
<body>
  <header class="header">
    <%- include('./partials/header.ejs') %>
  </header>
  <footer class="footer">
    <%- include('./partials/footer.ejs') %>
  </footer>
</body>
</html>
