<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="/assets/stylesheets/auth.css">
    <title>Login</title>
</head>
<body>
    <div class="title"><img src="/assets/img/logo-title.png" alt="logo-title"></div>
    <div id="main-login">
        <form action="/auth/login" method="POST">
            <div class="input-field">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-field">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="error">
                <% if (messages.error) { %>
                    <%= messages.error %>
                <% } %>
            </div>
            <div class="secondary-input-field">
                <button class="btn btn-light" type="submit">login</button>
            </div>
        </form>
    </div>
    <footer class="footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>
