<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.1.1/dist/chart.umd.min.js"></script>
    <script defer src="assets/scripts/stats_main.js"></script>
    <title>Stats</title>
</head>
<body>
  <header class="header">
    <%- include('./partials/header.ejs') %> 
  </header>
    <div id="graphWrapper">
        <canvas id="myChart"></canvas>
    </div>
  <footer class="footer">
    <%- include('./partials/footer.ejs') %>
  </footer>
</body>
</html>