:root{
    --fwblue: #006F86; 
}

label {
    display: block;
}

.title {
    padding-top: 2em;
    padding-bottom: 2em;
    width: fit-content;
    top: 3em;
    margin: auto;
}

.title img {
    position: inline-block;
    max-width: 300px;
    padding-top: 2em;
    padding-bottom: 2em;
    width: fit-content;
    top: 3em;
}


#main-register {
    position: fixed;
    background-color: var(--fwblue);
    color: white;
    font-size: 1.2em;
    height: fit-content;
    padding: 1em;
    width: fit-content;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#main-login {
    position: fixed;
    background-color: var(--fwblue);
    color: white;
    font-size: 1.2em;
    height: fit-content;
    padding: 1em;
    width: fit-content;
    position: absolute;
    top: 10;
    bottom: 4;
    left: 0;
    right: 0;
    margin: auto;
}

.input-field {
    margin: 0.2em;
}

.error {
    margin: 0.2rem;
    color: red;
}

#other-page{
    cursor: pointer;
    color: white;
}

.secondary-input-field {
    padding-top: 0.4em;
    display: inline-block;
    margin: 0.3em;
}