:root{
  --fwblue: #006F86;
  --fworange: #ec6408;
  --dark-grey: #5c5e5d;
}

  
  a {
    color: white;
  }
  
  /* header */
  
  .header {
    background-color: var(--fwblue);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    display: block;
    position: relative;
    width: 100%;
    z-index: 3;
  }

  .header-link:hover {
    color: var(--fworange)
  }

  .header a img {
    max-height: 40px;
    padding-bottom: 6px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--fwblue);
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid var(--fwblue);
    text-decoration: none;
  }

  .header li button {
    border-right: 1px solid var(--fwblue);
    text-decoration: none;
    padding: 20px 20px;
    background: none;
    color: white;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 34px 20px;
    position: relative;
    user-select: none;
  }
  .header-link {
    margin: auto;
  }

  .menu-icon label {
    right: 1em;
  }
  
  .header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 260px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* footer */

.footer {
  margin-top: auto;
  padding: 5px;
  display: inline-block;
  width: 100%;
  background-color: var(--dark-grey);
  color: white;
  align-self: flex-end;
}