.stats-root {
    font-weight: 500;
}


.title-block {
    align-items: center;
    padding: 1rem;
    font-size: x-large;
}

.main-data {
    align-items: center;
    padding: 1rem;
    max-height: 500px;
    position: relative
}

.canvas-wrapper{
    height: 400px;
}


.rendered-graph {
    margin: 1em;
    max-height: max-content;
}