/*

http://svgicons.sparkk.fr/

*/

:root{
    --fwblue: #006F86; 
}
#map {
    padding: 0px;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    height: auto;
    width: auto;
    position: relative;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: white;
  }
  
  .svg-icon circle {
    stroke: white;
    stroke-width: 1;
  }

#menu_svg{
    display: none;
    max-width: 24px;
    padding-left: 2px;
}

#arrow_svg{
    max-width: 20px;
    padding-bottom: 3px;
}

th {
    text-align: center;
}

td {
    width: 9em;
}

#menu-wrapper{
    z-index: 2;
    position: absolute !important;
    background-color: floralwhite;
    width: relative;
    opacity: 80%;
    border-right: var(--fwblue) 2px solid;
    padding: 1em;
    overflow: auto;
    top: 4em;
    bottom: 0;
}

tr.middle-row-item:hover {
    background-color: darkgray;
}

.form-control mr-sm-2 {
    margin: 0%;
    width: 9em
}

#inputwrapper{
    display: flex;
    width: fit-content;
}

.form-control{
    display: inline;
    width: 35%;
    margin: 1em;
}

html, body {
    height: 100%;
    margin: 0;
}

.highlighted {
    background-color: #5fd967;
}

.toggle {
    display: none;
}


.circle_button{
    left: 21.7rem;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background-color: var(--fwblue);
    position: absolute;
    top: 6em
}


.outer-row-item{
    display: table; 
    table-layout: fixed;
}

.middle-row-item{
    display: table-row;
}

.inner-row-item{
    display: table-cell;
    padding: 0.3em;
    text-align: center;
}

@media (max-width: 48em) {
    #map > div.leaflet-control-container {
        display: none;
    }
}