img.filterToGreen {
    filter: invert(42%) sepia(92%) saturate(1566%) hue-rotate(93deg) brightness(98%) contrast(105%);
}

img.filterToBlue{
    filter: invert(37%) sepia(69%) saturate(7089%) hue-rotate(184deg) brightness(84%) contrast(96%);
}

img.filterToTurquoise{
    filter: invert(79%) sepia(22%) saturate(1196%) hue-rotate(124deg) brightness(102%) contrast(102%);
}

#map {
    padding: 0px;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

th {
    text-align: center;
}

td {
    width: 9em;
}

tr:hover {
    background-color: darkgray;
}

.form-control mr-sm-2 {
    margin: 0%;
    width: 9em
}

#inputwrapper{
    display: flex;
    width: fit-content;
}

.form-control{
    display: inline;
    width: 35%;
    margin: 1em;
}

html, body {
    height: 100%;
    margin: 0;
}

.highlighted {
    background-color: #5fd967;
}


#menu-wrapper {
    top: 10%;
    left: 3%;
    z-index: 2;
    position: absolute !important;
    background-color: floralwhite;
    height: 80vh;
    width: relative;
    opacity: 80%;
    border-radius: 2%;
    padding: 1em;
    overflow: auto
}

.outer-row-item{
    display: table; 
    table-layout: fixed;
}

.middle-row-item{
    display: table-row;
}

.inner-row-item{
    display: table-cell;
    padding: 0.3em;
    text-align: center;
}
