

:root{
    --fwblue: #006F86; 
}
#map {
    padding: 0px;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

th {
    text-align: center;
}

td {
    width: 9em;
}


tr.middle-row-item:hover {
    background-color: darkgray;
}

.form-control mr-sm-2 {
    margin: 0%;
    width: 9em
}

#inputwrapper{
    display: flex;
    width: fit-content;
}

.form-control{
    display: inline;
    width: 35%;
    margin: 1em;
}

html, body {
    height: 100%;
    margin: 0;
}

.highlighted {
    background-color: #5fd967;
}

.toggle {
    display: none;
}

#toolbar {
    background-color: #006F86;
    width: auto;
    height: 3rem
}

#menu-wrapper{
    z-index: 2;
    position: absolute !important;
    background-color: floralwhite;
    width: relative;
    opacity: 80%;
    border-right: var(--fwblue) 2px solid;
    padding: 1em;
    overflow: auto;
    position: absolute !important;
    top: 0;
    bottom: 0;
}


.outer-row-item{
    display: table; 
    table-layout: fixed;
}

.middle-row-item{
    display: table-row;
}

.inner-row-item{
    display: table-cell;
    padding: 0.3em;
    text-align: center;
}
