#map {
    padding: 0px;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.highlighted {
    background-color: cornflowerblue;
}


#main-menu {
    top: 10%;
    left: 3%;
    z-index: 2;
    position: absolute !important;
    background-color: floralwhite;
    height: 80vh;
    width: relative;
    opacity: 80%;
    border-radius: 2%;
    padding: 1em;
    overflow: scroll
}


#grid-menu-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5em;
    row-gap: 0.3em;
}

.outer-row-item{
    display: table; 
    table-layout: fixed;
}

.middle-row-item{
    display: table-row;
}

.inner-row-item{
    display: table-cell;
    padding: 1em;
}
